/* https: //www.figma.com/file/9h3TAL4qWiSZwVNHFscGCX/%D0%94%D0%97-JavaScript-(Copy)?type=design&node-id=3-467&mode=dev */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
body {
    color: #fff;
}



.gallery {
    list-style: none;
        width: 1440px;
        height: 848px;
        padding: 100px 156px;
        display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 48px 24px;
        background: #FFF;
}

.gallery-item {
    display: flex;
        flex-direction: column;
        align-items: center;
        width: calc((100% - 48) / 3);
}

.gallery-image {
    width: 360px;
    height: 300px;
}